
@{
    ViewBag.Title = "auctionConfirm";
}

<div id="torontoHackathon"><h1>Dementia Hackathon</h1></div><br /><br />
<div id="title"><h2>Auction Message</h2></div><br /><br />


<p id="msg4">Your Request is being processed!  An email Confirmation of auction item(s) will be sent a day after closing day.  Thank you for your support!</p><br /><br /><br /><br /><br /><br />

<div class="row" id="forget">
    <div class="col-sm-12">
        <button class="btn btn-small btn-success" data-bind='click: submit' onclick="window.location.href='../index.html'">Submit</button>
    </div>
</div>

