
@{
    ViewBag.Title = "auction";
}

<div id="torontoHackathon"><h1>Dementia Hackathon</h1></div><br /><br />
<div id="title"><h2>Auction</h2></div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-6"><h2>Watches: </h2></div>
    <div class="col-sm-6"><h2>Bidding Prices: </h2></div>
</div>

<div class="row" id="cbox1">
    <div class="col-sm-4">
        <a><img src="../img/explorer.png" alt="rolex" width="100" height="100"></a>
    </div>
    <div class="col-sm-4">
        <input type="checkbox" value="" checked="checked">
        <label for="cbox1"><h3>Rolex - Model:A123</h3></label>
    </div>
    <div class="col-sm-4"><h3>$1500.00</h3></div>
</div><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-6"><h2>Jewelery: </h2></div>
</div>

<div class="row" id="cbox1">
    <div class="col-sm-4">
        <a><img src="../img/necklace.jpg" alt="" width="100" height="100"></a>
    </div>
    <div class="col-sm-4">
        <input type="checkbox" value="">
        <label for="cbox1"><h3>Tiffany necklace</h3></label>
    </div>
    <div class="col-sm-4"><h3>$1000.00</h3></div>
</div><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-6"><h2>Paintings: </h2></div>
</div>

<div class="row" id="cbox1">
    <div class="col-sm-4">
        <a><img src="../img/painting.jpg" alt="" width="100" height="100"></a>
    </div>
    <div class="col-sm-4">
        <input type="checkbox" value="">
        <label for="cbox1"><h3>David Bailey - Fleeced</h3></label>
    </div>
    <div class="col-sm-4"><h3>$500.00</h3></div>
</div><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-6"><h2>Clothes for Collections: </h2></div>
</div>

<div class="row" id="cbox1">
    <div class="col-sm-4">
        <a><img src="../img/dress.jpg" alt="" width="100" height="100"></a>
    </div>
    <div class="col-sm-4">
        <input type="checkbox" value="">
        <label for="cbox1"><h3>Chloe evening dress</h3></label>
    </div>
    <div class="col-sm-4"><h3>$800.00</h3></div>
</div><br /><br /><br />

<p id="msg4"></p><br /><br />

<div class="row" id="forget">
    <div class="col-sm-12">
        <button class="btn btn-small btn-success" data-bind='click: submit' onclick="window.location.href='auctionConfirm.html'">Submit</button>
    </div>
</div><br />

