
@{
    ViewBag.Title = "dementiaHackathon";
}

<div id="torontoHackathon"><h1>Dementia Hackathon</h1></div><br /><br />

<div id="subtitle"><h2>Date and Place: </h2></div>
<div id="desc1"><h3>March 7 ,2017 at Mississauga Convention Centre</h3></div><br /><br />

<div id="subtitle"><h2>Purpose: </h2></div>
<div id="desc1">
    <h3>
        DementiaHack is the world's foremost dementia-themed hackathon series. Co-chaired by Facebook Canada Managing Director Jordan Banks and British Consul General and Director-General for the Department for International Trade in Canada Kevin McGurgan, this hackathon brings together the brightest, most dedicated minds in dementia research, care, and health technology to generate new, innovative products and solutions to improve the lives of people living with dementia and their caregivers.
    </h3>
</div><br /><br />

<div id="subtitle"><h2>Participants: </h2></div>
<div id="desc1">
    <h3>
        Hundreds of hardware and software developers, designers, health professionals, project managers, entrepreneurs, and others motivated by a sense of duty to help mitigate this ballooning global concern will form teams to participate in DementiaHack. Technical, business, and subject-matter-expert mentors from partners and sponsors will actively support teams before and during the competition.
    </h3>
</div><br /><br />

<div id="subtitle"><h2>Publicity: </h2></div>
<div id="desc1">
    <h3>
        DementiaHack is a significant and meaningful initiative that builds upon already-established credibility and national exposure that will be compounded by the star-power afforded from partnering with some of the world’s best-known brands and governments.
    </h3>
</div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-6">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: submit' onclick="window.location.href='payment.html'">Money Donation</button>
    </div>
    <div class="col-sm-6">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: submit'>Register</button>
    </div>
</div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-6">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: submit' onclick="window.location.href='itemDonation.html'">Item Donation</button>
    </div>
    <div class="col-sm-6">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: submit' onclick="window.location.href='auction.html'">Auction</button>
    </div>
</div><br /><br />

