
@{
    ViewBag.Title = "TorontoHackathon";
}

<div id="torontoHackathon"><h1>Toronto Hackathon Events</h1></div><br /><br />
<div id="desc">
    <h3>
        Hackathon is an event in which computer programmers and others
        engaged in computer programming development.  Events below
        will be hosted in Toronto in the coming months.
    </h3>
</div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-8"><h2>Dementia Hackathon</h2></div>
    <div class="col-sm-4">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: login' onclick="window.location.href='html/logIn.html'">Log In</button>
    </div>
</div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-8"><h2>Social Good Hackathon</h2></div>
    <div class="col-sm-4">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: login'>Log In</button>
    </div>
</div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-8"><h2>Deep Health Hackathon</h2></div>
    <div class="col-sm-4">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: login'>Log In</button>
    </div>
</div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-8"><h2>Hack for Good</h2></div>
    <div class="col-sm-4">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: login'>Log In</button>
    </div>
</div><br /><br />

<div class="row" id="hackathonEvents">
    <div class="col-sm-8"><h2>Hack for Craft Hackathon</h2></div>
    <div class="col-sm-4">
        <br />
        <button class="btn btn-small btn-success" data-bind='click: login'>Log In</button>
    </div>
</div><br /><br />
