
@{
    ViewBag.Title = "createAccount";
}

<link rel="stylesheet" type="text/css" href="~/styles/style.css" />

<h1> Toronto Hackathon</h1>

<h3> Create a new account:</h3>    
 <b>* Please note: The registration fee is $15  </b> <br> <br> 

<form>
   
    First Name:<br>
    <input type="text" name="fname"><br> <br>

    Last Name:<br>
    <input type="text" name="lname"> <br> <br>

    E-mail:<br>
    <input type="email" name="email"> <br> <br>

    <input type="submit" class="button" value="Submit" /> <br>

</form> 