
@{
    ViewBag.Title = "LogIn";
}
<link rel="stylesheet" type="text/css" href="~/styles/style.css" />

<h1> Toronto Hackathon</h1>
<a href="/DementiaHackathon/createAccount">Create a new account</a>

<h3> Login:</h3>
<form>
   
    Username:<br>
    <input type="text" name="username"><br> <br>

    Password:<br>
    <input type="password" name="password"> <br> <br>

    <input type="submit" class="button" value="Submit" /> <br>

    <br /><button class="forgotpasswd">Forgot Password? </button>

</form> 