<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <add key="LockBidDate" value="18-MAY-2017 09:00"/>
    <add key="DatabaseConnection" value="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=auction;Integrated Security=True"/>
  </appSettings>
  <connectionStrings/>

  <system.web>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <compilation debug="true" targetFramework="4.6.2"/>
    <authentication mode="Windows"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>